
.header-wrapper {
  padding: 50px;
  width: 100%;
}
#header {
  float: left;
  width: 40%;
}
#sub-menu {
  float: left;
  width: 60%;
}
#sub-menu li {
  padding: 2px;
  display: inline-block;
}
#sub-menu a {
  text-decoration: none;
  color: rgba(0, 66, 26, 1);
  padding: 5px;
  font-size: 120%;
}
#gradient1 {
  position: absolute;
  width: 738px;
  height: 664px;
  left: -142px;
  top: -101px;

  background: #70f3db;
  mix-blend-mode: normal;
  filter: blur(690px);
}
#gradient2 {
  position: absolute;
  width: 967px;
  height: 1008px;
  left: 983px;
  top: 1143px;

  background: rgba(120, 241, 219, 0.97);
  mix-blend-mode: normal;
  filter: blur(700px);
}
#gradient3 {
  position: absolute;
  width: 940px;
  height: 920px;
  left: -294px;
  top: 2651px;

  background: rgba(116, 231, 210, 0.98);
  mix-blend-mode: normal;
  filter: blur(700px);
}
.square {
  position: absolute;
  width: 786px;
  height: 709px;
  left: 654px;
  top: 0px;

  background: #e6f0ee;
}
.navbar {
  margin: 3px 94px;
  display: flex;
  justify-content: space-between;
}
.menu ul {
  display: flex;
  justify-content: center;
}
.menu li {
  margin: 0px 15px;
}

